apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  name: cfssl-internal-ca-key
  namespace: cert-manager
data: 
  key: "<PUT your multirootca key here!!!>"
  # key: '{{hub fromSecret "cert-manager" "cfssl-internal-ca-key" "key" hub}}'
